# Data Structures and Processing

## Week 8: Data Wrangling with Pandas

### Remarks:

1. Press the `install requirements` button above to install the required packages.  See the `requirements.txt` for list of packages to be installed.

2. Make sure that you are following the conventions.  For examples, `import pandas as pd`, which imports pandas packages and sets the abbreviation for it.

3. Do not import the packages without the short names.  Doing so might lead to a namespace conflict, or unintended uses of functions coming from two libraries as a part of different implementations.

4. We are assigning `None` to variables and use `pass` in the body of the functions, where we expect a solution from you.  Please replace these values and statements with your solution.

The exercises in this notebook are aligned with the material provided for the lecture.

### Load Libraries

In [11]:
import numpy as np
import pandas as pd

## MultiIndex

### Task 1

Consider the `json` file named `entertain.json`(attached) and read it into a variable `df1` using the function `pd.read_json`.

In [12]:
import pandas as pd

df1 = pd.read_json('entertain.json')

print(df1)

   stars                     title rating  duration  \
0    7.5                 Quiz Show  PG-13       133
1    7.6                    Batman  PG-13       126
2    8.2   The Wolf of Wall Street      R       180
3    8.1                      Jaws     PG       124
4    7.8             Belle de Jour    NaN       101
5    7.8        As Good as It Gets  PG-13       139
6    8.4               Toy Story 3      G       103
7    7.4  Manhattan Murder Mystery     PG       104

                                            actors      genre
0       [Ralph Fiennes, John Turturro, Rob Morrow]        NaN
1   [Michael Keaton, Jack Nicholson, Kim Basinger]     Action
2   [Leonardo DiCaprio, Jonah Hill, Margot Robbie]  Biography
3    [Roy Scheider, Robert Shaw, Richard Dreyfuss]      Drama
4  [Catherine Deneuve, Jean Sorel, Michel Piccoli]      Drama
5       [Jack Nicholson, Helen Hunt, Greg Kinnear]     Comedy
6              [Tom Hanks, Tim Allen, Joan Cusack]  Animation
7         [Woody Allen, Diane Keaton, Jerry Adler]     Comedy

In [13]:
assert df1.shape == (8, 6)

### Task 2

We want to change the index of the imported `DataFrame`. More specifically, we would like to have two indexes.  The two indexes come from the columns named `"rating"` and `"stars"`.

Define a new `DataFrame` by the name `df2` where `"rating"`and `"stars"` are indexes.

In [14]:
df2 = df1.set_index(['rating', 'stars'])
print(df2)

                                 title  duration  \
rating stars
PG-13  7.5                   Quiz Show       133
       7.6                      Batman       126
R      8.2     The Wolf of Wall Street       180
PG     8.1                        Jaws       124
NaN    7.8               Belle de Jour       101
PG-13  7.8          As Good as It Gets       139
G      8.4                 Toy Story 3       103
PG     7.4    Manhattan Murder Mystery       104

                                                       actors      genre
rating stars
PG-13  7.5         [Ralph Fiennes, John Turturro, Rob Morrow]        NaN
       7.6     [Michael Keaton, Jack Nicholson, Kim Basinger]     Action
R      8.2     [Leonardo DiCaprio, Jonah Hill, Margot Robbie]  Biography
PG     8.1      [Roy Scheider, Robert Shaw, Richard Dreyfuss]      Drama
NaN    7.8    [Catherine Deneuve, Jean Sorel, Michel Piccoli]      Drama
PG-13  7.8         [Jack Nicholson, Helen Hunt, Greg Kinnear]     Comedy
G      8.4                [Tom Hanks, Tim Allen, Joan Cusack]  Animation
PG     7.4           [Woody Allen, Diane Keaton, Jerry Adler]     Comedy

In [15]:
assert df2.index[0] == ('PG-13', 7.5)

### Task 3

In the `DataFrame` named `df2`, defined above, we have two indexes: `"rating"` and `"stars"`, and *in this order*.  We want to change

1. their order so that `"stars"` is the first index and `"ratings"` is the second one. You might want to use `swaplevel`.
2. their case, i.e., make names of index columns upcase.

Define a new `DataFrame` by the name `df3`, which is the same as `df2`, except that the indexes are swapped and they are in upcase form.

In [16]:
df3 = df2.swaplevel(0, 1, axis=0).rename_axis(index={'rating': 'RATING', 'stars': 'STARS'})
print(df3)

                                 title  duration  \
STARS RATING
7.5   PG-13                  Quiz Show       133
7.6   PG-13                     Batman       126
8.2   R        The Wolf of Wall Street       180
8.1   PG                          Jaws       124
7.8   NaN                Belle de Jour       101
      PG-13         As Good as It Gets       139
8.4   G                    Toy Story 3       103
7.4   PG      Manhattan Murder Mystery       104

                                                       actors      genre
STARS RATING
7.5   PG-13        [Ralph Fiennes, John Turturro, Rob Morrow]        NaN
7.6   PG-13    [Michael Keaton, Jack Nicholson, Kim Basinger]     Action
8.2   R        [Leonardo DiCaprio, Jonah Hill, Margot Robbie]  Biography
8.1   PG        [Roy Scheider, Robert Shaw, Richard Dreyfuss]      Drama
7.8   NaN     [Catherine Deneuve, Jean Sorel, Michel Piccoli]      Drama
      PG-13        [Jack Nicholson, Helen Hunt, Greg Kinnear]     Comedy
8.4   G                   [Tom Hanks, Tim Allen, Joan Cusack]  Animation
7.4   PG             [Woody Allen, Diane Keaton, Jerry Adler]     Comedy

In [17]:
assert df3.index.names == ['STARS', 'RATING']

### Task 4

We have now data with two indexes. Let us say that we do not need this indexing, and furthermore, we would like to recover the data to a form where it was as it was imported into a `DataFrame`.  There are three ways to do it:

1. One is to keep the data stored in a separate variable and define a new variable with the new indexes.  This might lead to a memory problem, when huge data is read into a `DataFrame`.

2. Reread the data from the file into the desired variable again.

3. Use the builtin function for reseting indexing in `pandas`.

Use the third method above to reset index of the data stored in `df3` and put it in variable `df4` (we do not desire to modify the existing variable).

In [18]:
df4 = df3.reset_index()
print(df4)

   STARS RATING                     title  duration  \
0    7.5  PG-13                 Quiz Show       133
1    7.6  PG-13                    Batman       126
2    8.2      R   The Wolf of Wall Street       180
3    8.1     PG                      Jaws       124
4    7.8    NaN             Belle de Jour       101
5    7.8  PG-13        As Good as It Gets       139
6    8.4      G               Toy Story 3       103
7    7.4     PG  Manhattan Murder Mystery       104

                                            actors      genre
0       [Ralph Fiennes, John Turturro, Rob Morrow]        NaN
1   [Michael Keaton, Jack Nicholson, Kim Basinger]     Action
2   [Leonardo DiCaprio, Jonah Hill, Margot Robbie]  Biography
3    [Roy Scheider, Robert Shaw, Richard Dreyfuss]      Drama
4  [Catherine Deneuve, Jean Sorel, Michel Piccoli]      Drama
5       [Jack Nicholson, Helen Hunt, Greg Kinnear]     Comedy
6              [Tom Hanks, Tim Allen, Joan Cusack]  Animation
7         [Woody Allen, Diane Keaton, Jerry Adler]     Comedy

In [19]:
assert len(df4.columns) == 6

### Task 5

Recall from the beginning of this set of exercises that we have imported data from a `json` file.  The data that is in hierarchical form is usually stored in this format.  There are other ways to store such data too, for example as an `xml` format, to name only another one beside `json`.  You might have noticed as we have imported the data that it was presented in a tabular format, and it was done by assigning some `NaN` value to some of the entries, because the corresponding values were missing.  For example, the `"Quiz Show"` has `"genre"` `NaN`.  Compare it with the json file, where `"Quiz Show"`, does not have any value for `"genre"`.

Recall that in `pandas`, tabular data can be converted into a hierarchical data using the `stack()` method.

Create a new `DataFrame`, called `df5`, from `df3` and use the method `stack()` to present it in hierarchical form.

In [23]:
df5 = df3.stack()

print(df5)

STARS  RATING
7.5    PG-13   title                                             Quiz Show
               duration                                                133
               actors           [Ralph Fiennes, John Turturro, Rob Morrow]
7.6    PG-13   title                                                Batman
               duration                                                126
               actors       [Michael Keaton, Jack Nicholson, Kim Basinger]
               genre                                                Action
8.2    R       title                               The Wolf of Wall Street
               duration                                                180
               actors       [Leonardo DiCaprio, Jonah Hill, Margot Robbie]
               genre                                             Biography
8.1    PG      title                                                  Jaws
               duration                                                124
               actors        [Roy Scheider, Robert Shaw, Richard Dreyfuss]
               genre                                                 Drama
7.8    NaN     title                                         Belle de Jour
               duration                                                101
               actors      [Catherine Deneuve, Jean Sorel, Michel Piccoli]
               genre                                                 Drama
       PG-13   title                                    As Good as It Gets
               duration                                                139
               actors           [Jack Nicholson, Helen Hunt, Greg Kinnear]
               genre                                                Comedy
8.4    G       title                                           Toy Story 3
               duration                                                103
               actors                  [Tom Hanks, Tim Allen, Joan Cusack]
               genre                                             Animation
7.4    PG      title                              Manhattan Murder Mystery
               duration                                                104
               actors             [Woody Allen, Diane Keaton, Jerry Adler]
               genre                                                Comedy
dtype: object

In [24]:
assert df5.index[0] == (7.5, 'PG-13', 'title')

### Task 6

Consider the hierarchical `DataFrame` `df5`, and filter it down to all the entries with `"rating"` `"PG-13"`.  Store the result in the variable `df6`.

In [56]:
df6 = df5[df5.index.get_level_values(1) == "PG-13"]

In [57]:
assert len(df6) == 11

### Task 7

Let us consider a case, where we are given two `DataFrame`s with `MultiIndex`, we would like to merge them using a column as a reference.  There are several different functions available in `pandas` for such a purpose.

Let us define two variable `df71` and `df72`.  These `DataFrame`s help us demonstrate what is stated above.  In practice, the two `DataFrame`s may come from different sources unlike how we have defined them.

Define a variable `df7`, which contains a merge of `df71` and `df72` on the column `"title"`.  Make sure that the returned table has the `MultiIndex` inherited and it is not stripped away. You can do in by resetting index and setting it back after merge or by using `combine_first` function.

In [48]:
# Your solution goes here
df71 = df2[["title", "duration"]]
df72 = df2[["genre", "title"]]

df7 = df71.combine_first(df72)
print(df7)

              duration      genre                     title
rating stars
PG-13  7.5         133        NaN                 Quiz Show
       7.6         126     Action                    Batman
R      8.2         180  Biography   The Wolf of Wall Street
PG     8.1         124      Drama                      Jaws
NaN    7.8         101      Drama             Belle de Jour
PG-13  7.8         139     Comedy        As Good as It Gets
G      8.4         103  Animation               Toy Story 3
PG     7.4         104     Comedy  Manhattan Murder Mystery

In [49]:
assert df7.index.names == ['rating', 'stars']
assert df7.shape == (8, 3)

### Task 8 (Bonus)

Consider the file `taxi.csv` in the attachment. Your task is to follow the discussion in the section "Reshaping and Pivoting", using the data in this file.

Explain what goes wrong. You could write your remarks as comments or in new blocks.

In [60]:
pivoted_df = df.pivot(index="pickup_datetime", columns="passenger_count", values="trip_distance")
pivoted_df = df.pivot(index="pickup_datetime", columns="passenger_count", values="trip_distance")

ValueError: Index contains duplicate entries, cannot reshape

In [ ]:
# In this example, weâ€™ve used pickup_datetime as the index, passenger_count as the column, and trip_distance as the value.
# The resulting DataFrame will have columns for each unique passenger count, 
# and the rows will correspond to different pickup dates.